body{  background-image: url(images/fondo2.png);
  background-repeat: repeat-x;
  background-size: contain;
  background-attachment: fixed;

  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 100%;
width: 100%;
margin-top: 0;
margin: 0 !important;
 padding: 0 !important;
display: inline;  
font-family: 'Source Sans Pro', sans-serif;
 text-decoration: none;
 overflow-x: hidden;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  -webkit-animation: glow 3s infinite alternate;
  -webkit-animation-delay: 4s;
}
@-webkit-keyframes glow {
    to {
        text-shadow: 0 0 12px white;
    }
}

#musica{

}
p{
    -webkit-animation: glow 5s infinite alternate;
    -webkit-animation-delay: 3s;
}
a, ul {color:white;
text-decoration: none;
opacity: 1;
margin-top: 10px;
margin-bottom: 10px;

font-size: 90%;
font-weight: lighter;
;
 }
 a:hover{


    text-shadow: 0px 0px 15px #ffffff;
   -moz-text-shadow: 0px 0px 15px #ffffff;
   -webkit-text-shadow: 0px 0px 15px #ffffff;
}
.menu {
  left: 50%;
  transform: scaleX(-50%);
  padding: 0;
  text-align: center;
  font-size: 90%;

  text-decoration-color: white;
  font-weight;
¿

}

.menu li {
display: inline-block;
 text-decoration-color: white;

}

.menu li a {
padding: 20px;
padding-bottom: 0;
padding-top: 0;
display: inline-block;
margin-left: ¿;
;
}

.logo{
     position: relative;

}
.logo img {
max-width: 27%;
min-width: 25%;
position: relative;
left: 50%;
top: 0%;
transform: translateX(-50%);


}

@media (max-width: 883px) {
  .logo img {
  max-width: 238px;

  position: relative;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);


  }
}
@media (max-width: 467px) {
  .logo img {
  max-width: 180px;

  position: relative;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);


  }
}


h1 {
  left: 50%;
  transform: scaleX(-50%);
  padding: 0;
  text-align: center;
  font-size: 70%;
  margin-top: 0px;
  text-decoration-color: white;
  color: white;
}

h1 .secciones{
  display: inline-block;
   text-decoration-color: white;
   color: white;
}
.video-youtube {
  position: relative;
  padding-bottom: 56.25%

}

.video-youtube iframe{
 position: absolute;
 width: 100%;
 height: 100%;
}


.wrapper{
  position: relative;
  max-width: 670px;
  left: 50%;
  transform: translateX(-50%);
}

h4{
  text-align: center;
  color: white;
  font-size: 150%;
  font-weight: normal;
  letter-spacing: 10px;
  word-spacing: 10px;
  margin-bottom: 15px;
  margin-top: 15px;

}



.tropicaldeco {
  position: relative;
  padding-bottom: 100%

}

.tropicaldeco img{
 position: absolute;
 width: 100%;
 height: 100%;
}


.wrappertropical{
  position: relative;
  max-width: 400px;
  left: 50%;
  transform: translateX(-50%);
}

#trotro{
  text-align: left;
  margin-left: 10%;
}


h5{
  color: white;
  text-align: center;
  font-weight: lighter;
  border: red;
}

.botonver{
  position: relative;
  width: 60px;
  line-height: 30px;
  text-align: center;
  color: white;
  font-size: 70%;
  border-radius:0px;
  border-color: white;
  border-style: solid;

  left:50%;
  transform: translateX(-50%);
}
.botonver:hover {
  position: relative;
  background: white;
  width: 60px;
  line-height: 30px;
  text-align: center;
  color: black;
  font-size: 70%;
  border-radius:0px;
  border-color: white;
  border-style: solid;
  left:50%;
  transform: translateX(-50%);
   }


#derecha{
  text-align: right;
  margin-right: 10%;
}




.gridmusica >div{

  padding: 1em;


}

.gridmusica{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3em;

}

.Items {
  display: grid;
  grid-template-columns:repeat(2, 1fr);
}

.itemmini  {

position: relative;
padding-bottom: 100%;

}

.itemmini >img {
  position: absolute;
  width: 110%;
  height: 110%;

}
.minititle {
  font-size: 110%;
  color: white;
  text-align: center;
}
#singletext{
  font-size: 70%;
  color: white;
}

.escuchaen{
  text-align: center;
  color: white;
  font-weight: bold;

}
.escuchaen2{
  text-align: center;
  color: white;
  font-weight: normal;
  margin-top: 0;


}

.fa {
  padding: 2px;
  opacity: 0.95;
  margin: 0;

}
.fa:hover {

  opacity: 1;
}

.minitex{
  display: grid;;
  justify-items: center;
  align-items: center;

}

.gridwrapper{
  width: 85%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.fotosinsta{
  position: relative;
}
.fotosinsta >img{
   filter: grayscale(100%);
   filter: saturate(-30%);
   width: 100%;
}
.fotosinsta:hover img{
   filter: grayscale(0%);
   filter: saturate(100%);
   width: 100%;
}


#gridfotos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;
}

#gridfotos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
.socials li{
  text-align: right;
display: inline-block;
list-style: none;
line-height: 1;
}
.socials{

position: relative;
  padding: 0;



  text-decoration-color: white;
  font-weight;
}

#site-header .wrap {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#site-header {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px !important;

    margin: 0;
    width: 100%;
    top: 100px;
    left: 0;
    z-index: 1000;
     background: #4848c3;
     animation: shadowThrob 2s infinite;
 animation-direction: alternate;
 -webkit-animation: shadowThrob 2s ease-out infinite;
 -webkit-animation-direction: alternate;
 -webkit-animation-delay: 3s; /* Safari 4.0 - 8.0 */
    animation-delay: 3s;
     }
#minifecha{
       display: none;
       position: relative;
       left: 50%;
       transform: translateX(-50%);
       background: white;
     }
 .bg {
       position: fixed;
       z-index: -2;
       top: 0;
       right: 0;
       bottom: 0;
       left: -10px;
       transition: .25s;
       pointer-events: none;
     }
.logo img:hover ~ .bg {
  background: linear-gradient(-45deg,#b96ede, #E73C7E,  #4848c3, #4848c3);
background-size: 400% 400%;
-webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}




ul, ol {
    margin: 2em;
    margin-top: 0;
    margin-bottom: 0;
}
@media (max-width: 767px){

#site-header .wrap {
    flex-direction: column;

}
.socials li{
  text-align: center;
display: inline-block;
list-style: none;
line-height: 0;
}
.menu li a {
padding: 0px;
padding-bottom: 0;
padding-top: 0;
display: inline-block;
margin: 0;
;
}
ul, ol {
   margin-top: 5px;
   margin-bottom: 5px;

}
h4{
  font-size:100%;
  letter-spacing: normal;
}
 #site-header {
   padding: 0px !important;

 }

 .menu li {
 font-size: 87%;
 }
 }
@media (max-width: 1209px) {

  .gridwrapper{
    width: 94%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}



@media (max-width: 890px) {

  .gridmusica{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3em;

  }
  .itemmini  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #gridfotos {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 2;
    -moz-column-count:    2;
    column-count:         2;

  }
  body{
    background-size: contain;
    background-repeat: repeat-y;
    background-attachment: fixed;
  }
}

@media (max-width: 594px) {

  .gridmusica{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3em;

  }
  .itemmini  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .Items {
    display:grid;
    grid-template-columns:repeat(1, 1fr);
  }
  .fechaswraper{
    display: none;
  }
  #minifecha{
    display: inherit;
  }



}

.fechas{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: white;
}


.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}


.blog{
  font-size: 90%;
  letter-spacing: 3px;
  -webkit-animation: glow .3s infinite alternate;
}
.desarrollador{
  font-size: 5%;
  letter-spacing: 2px;
}

@keyframes shadowThrob {
	from {box-shadow:0px 0px 13px transparent;}
	to {box-shadow: 0px 0px 13px #ffffff;}
}
@-webkit-keyframes shadowThrob {
	from {box-shadow: 0px 0px 13px transparent;}
	to {box-shadow: 0px 0px 13px #ffffff;}
}

@keyframes shadowThrobtext {
	from {text-shadow:0px 0px 13px transparent;}
	to {text-shadow: 0px 0px 13px #ffffff;}
}
@-webkit-keyframes shadowThrobtext {
	from {text-shadow: 0px 0px 13px transparent;}
	to {text-shadow: 0px 0px 13px #ffffff;}
}
